html {
  background: url(../images/leaves.png) #f3f4eb bottom right no-repeat;
  line-height: 1.5;
}

a:link, a:visited, .palette-black-green h1.node-title a {
  color: $green;
}

.palette-black-green h2 {
  color: $brown;
}

#footer {
  border-top: none;
  box-shadow: none;
}
