.palette-black-green .header-color-row-one {
  background-color: #402817;
}

#logo {
  margin-bottom: 0;
  margin-top: 0.5em;
}

.header-color-row-two {
  min-height: 0.8em;
}

.block-search .container-inline .form-item-custom-search-types {
  padding-left: 1em;
}

.palette-black-green .partial-node-form-title {
  color: $brown;
}

.palette-black-green .action-item-primary, .palette-black-green .action-item-small-primary, .palette-black-green .action-item-large-primary, .palette-black-green .commons-sign-up, .palette-black-green .pane-commons-groups-commons-groups-create-group a, .pane-commons-groups-commons-groups-create-group .palette-black-green a, .palette-black-green .pane-commons-events-commons-events-create-event-link a, .pane-commons-events-commons-events-create-event-link .palette-black-green a {
  background-color: $green;
}
