.palette-black-green .header-color-row-one {
  background-color: #402817;
}

#logo {
  margin-bottom: 0;
  margin-top: 0.5em;
}

.header-color-row-two {
  min-height: 0.8em;
}

.block-search .container-inline .form-item-custom-search-types {
  padding-left: 1em;
}
