#menu-bar.nav ul.menu li:hover, #menu-bar.nav ul.menu li.active-trail {
  background: none;
}

.palette-black-green #menu-bar.nav ul.menu li a, #menu-bar.nav ul.menu li .palette-black-green a {
  border-left: none;
  box-shadow: none;
}

.palette-black-green #menu-bar.nav {
  border-right: none;
  box-shadow: none;
}

#menu-bar.nav ul.menu li a {
  background-position: center 1.5em;
  padding-top: 3em;
}

.palette-black-green .quicktabs-style-commons-pills ul.quicktabs-tabs li a, .palette-black-green .quicktabs-style-commons-pills ul.quicktabs-tabs li a span, .palette-black-green ul.primary.tabs li a, .palette-black-green ul.primary.tabs li a span {
  color: darken($brown, 5%);
  &:hover, &:active {
    color: $brown;
  }
}
